<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="findnearby">
            <ion-icon name="search"></ion-icon>
            <ion-label>Find nearby</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="featured">
            <ion-icon name="apps"></ion-icon>
            <ion-label>Featured</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="favorites">
            <ion-icon name="heart"></ion-icon>
            <ion-label>Favorites</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
